<div class="blog-detail__contents-wrapper">
  <div class="blog-detail__contents">
    <div class="blog-detail__date">
      <time datetime="2023-11-17">2023.11.17</time>
    </div>
    <h2 class="blog-detail__title title-line">ライセンス取得</h2>
    <figure class="blog-detail__image">
      <img
        src="./assets/images/blog/blog-detail-pc.jpg"
        alt="海の中 珊瑚"
        width="700"
        height="468"
      />
    </figure>
    <p class="blog-detail__text">
      ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。
      ここにテキストが入ります。ここにテキストが入ります。
      ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。
    </p>
    <figure class="blog-detail__image">
      <img
        src="./assets/images/blog/blog-detail-pc.jpg"
        alt="海の中 珊瑚"
        width="700"
        height="468"
      />
    </figure>
    <p class="blog-detail__text">
      ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。
      ここにテキストが入ります。ここにテキストが入ります。
      ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。
    </p>
    <ul class="blog-detail__lists">
      <li class="blog-detail__list-item">リスト１</li>
      <li class="blog-detail__list-item">リスト２</li>
      <li class="blog-detail__list-item">リスト３</li>
    </ul>
    <p class="blog-detail__text">
      ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。
      ここにテキストが入ります。ここにテキストが入ります。
      ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。
    </p>
    <div class="blog-detail__pager">
      <%- include(base.path + "./_pager-detail") %>
    </div>
  </div>
</div>
