<% if (typeof page === 'undefined') { page = ""; } %>

<div class="<%- page === "top" ? "blog-cards-top" : "blog-cards" %>">
  <% const blogCardDataAll = [
  {
    link : "/blog-detail.html",
    imgPath : "./assets/images/top/blog-card1.jpg",
    alt : "ライセンス取得の画像",
    date : "2023/11/17",
    datetime : "2023-11-17",
    title : "ライセンス取得",
    text : "ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキスト",
  },
  {
    link : "/blog-detail.html",
    imgPath : "./assets/images/top/blog-card2.jpg",
    alt : "ウミガメと泳ぐ",
    date : "2023/11/17",
    datetime : "2023-11-17",
    title : "ウミガメと泳ぐ",
    text : "ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキスト",
  },
  {
    link : "/blog-detail.html",
    imgPath : "./assets/images/top/blog-card3.jpg",
    alt : "カクレクマノミ",
    date : "2023/11/17",
    datetime : "2023-11-17",
    title : "カクレクマノミ",
    text : "ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキスト",
  },
  {
    link : "/blog-detail.html",
    imgPath : "./assets/images/top/blog-card4.jpg",
    alt : "ライセンス取得の画像",
    date : "2023/11/17",
    datetime : "2023-11-17",
    title : "ライセンス取得",
    text : "ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキスト",
  },
  {
    link : "/blog-detail.html",
    imgPath : "./assets/images/top/blog-card5.jpg",
    alt : "ウミガメと泳ぐ",
    date : "2023/11/17",
    datetime : "2023-11-17",
    title : "ウミガメと泳ぐ",
    text : "ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキスト",
  },
  {
    link : "/blog-detail.html",
    imgPath : "./assets/images/top/blog-card6.jpg",
    alt : "カクレクマノミ",
    date : "2023/11/17",
    datetime : "2023-11-17",
    title : "カクレクマノミ",
    text : "ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキスト",
  },
  {
    link : "/blog-detail.html",
    imgPath : "./assets/images/top/blog-card1.jpg",
    alt : "ライセンス取得の画像",
    date : "2023/11/17",
    datetime : "2023-11-17",
    title : "ライセンス取得",
    text : "ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキスト",
  },
  {
    link : "/blog-detail.html",
    imgPath : "./assets/images/top/blog-card2.jpg",
    alt : "ウミガメと泳ぐ",
    date : "2023/11/17",
    datetime : "2023-11-17",
    title : "ウミガメと泳ぐ",
    text : "ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキスト",
  },
  {
    link : "/blog-detail.html",
    imgPath : "./assets/images/top/blog-card3.jpg",
    alt : "カクレクマノミ",
    date : "2023/11/17",
    datetime : "2023-11-17",
    title : "カクレクマノミ",
    text : "ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキスト",
  },
  {
    link : "/blog-detail.html",
    imgPath : "./assets/images/top/blog-card4.jpg",
    alt : "ライセンス取得の画像",
    date : "2023/11/17",
    datetime : "2023-11-17",
    title : "ライセンス取得",
    text : "ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキスト",
  },
];
%>
<% blogCardDataAll.forEach(blogCardData => { %>
  <%- include("../common/_blog-card", {blogCardData:blogCardData}) %>
<% }); %>
</div>
