<% if (typeof breadcrumbsData == 'undefined') { breadcrumbsData = {}; } %>
<% if (typeof breadcrumbsData.list == 'undefined') { breadcrumbsData.list = []; } %>

<div class="breadcrumbs inner">
<% breadcrumbsData.list.forEach((breadcrumb, index) => { %>
  <% if (index === breadcrumbsData.list.length - 1) { %>
    <span class="breadcrumbs__item-current"><%- breadcrumb.title %></span>
  <% } else { %>
    <a href="<%- breadcrumb.url %>" class="breadcrumbs__item <%- breadcrumbsData.white ? "breadcrumbs__item--white" : "" %>"><%- breadcrumb.title %></a>
  <% } %>
<% }); %>
</div>
