<% if (typeof cardType === 'undefined') { cardType = ""; } %>
<% if (typeof sideBar === 'undefined') { sideBar = false; } %>
<% if (typeof page === 'undefined') { page = false; } %>
<% if (typeof tourCardDataAll === 'undefined') { tourCardDataAll = []; } %>
<div class="<%- sideBar ? "tour-cards--sidebar" : "tour-cards"  %>">
<% tourCardDataAll.forEach(tourCardData => { %>
  <%- include("./_tour-card-page", {tourCardData:tourCardData, page:page, sideBar:sideBar,cardType:cardType}) %>
<% }); %>
</div>
