<% if (typeof sideBar === 'undefined') { sideBar = ""; } %>
<% if (typeof campaignCardDataAll === 'undefined') { campaignCardDataAll = []; } %>

<div class="<%- sideBar ? "campaign-cards--sidebar" : "campaign-cards"  %>">
<% campaignCardDataAll.forEach(campaignCardData => { %>
  <%- include("./_campaign-card", {campaignCardData:campaignCardData}) %>
<% }); %>
</div>
