<div class="pager">
  <div class="pager__previous">
    <img src="./assets/images/common/arrow-left.svg" alt="前へ矢印" />
  </div>
  <div class="pager__item current">1</div>
  <div class="pager__item">2</div>
  <div class="pager__item">3</div>
  <div class="pager__item">4</div>
  <div class="pager__item">5</div>
  <div class="pager__item">6</div>
  <div class="pager__next">
    <img src="./assets/images/common/arrow-right-green.svg" alt="次へ矢印" />
  </div>
</div>
