<div class="pager-detail">
  <div class="pager-detail__previous">
    <img src="./assets/images/common/arrow-left.svg" alt="前へ矢印" />
  </div>
  <div class="pager-detail__next">
    <img src="./assets/images/common/arrow-right-green.svg" alt="次へ矢印" />
  </div>
</div>
