<div class="qa-boxes">
  <% const faqDataAll  =[
    {
      question:"1ここに質問が入ります。",
      answer:"1ここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入ります"
    },
    {
      question:"2ここに質問が入ります。",
      answer:"2ここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入ります"
    },
    {
      question:"3ここに質問が入ります。",
      answer:"3ここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入ります"
    },
    {
      question:"4ここに質問が入ります。",
      answer:"4ここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入ります"
    },
    {
      question:"5ここに質問が入ります。",
      answer:"5ここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入ります"
    },
    {
      question:"6ここに質問が入ります。",
      answer:"6ここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入ります"
    },
    {
      question:"7ここに質問が入ります。",
      answer:"7ここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入りますここに質問の答えが入ります"
    },
  ]; %>
  <% faqDataAll.forEach(faqData => { %>
    <%- include(base.path + "./_qa-box", {faqData:faqData}) %>
  <% }); %>
</div>
