<% if (typeof englishTitle === 'undefined') { englishTitle = ""; } %>
<% if (typeof japaneseTitle === 'undefined') { japaneseTitle = ""; } %>

<div class="section-title">
  <p class="section-title__word"><%- englishTitle %></p>
  <h2 class="section-title__japan"><%- japaneseTitle %></h2>
</div>
