<div class="sidebar-tour">
  <%- include(base.path + "./_sidebar-title", {title:"キャンペーン",
  className:"sidebar-tour__title"}); %> <% const tourCardDataAll = [ { link :
  "/tour.html",dataType:"1", imgPath : "./assets/images/tour/tour-card-page1",
  alt : "ライセンス取得の画像", label : "ライセンス講習", title :
  "ライセンス取得", text : "全部コミコミ(お一人様)", cancelledPrice : "¥56,000",
  price : "¥46,000", width:"294", height:"188" }, { link :
  "/tour.html",dataType:"2", imgPath : "./assets/images/tour/tour-card-page2",
  alt : "貸切体験ダイビングの画像", label : "体験ダイビング", title :
  "貸切体験ダイビング", text : "全部コミコミ(お一人様)", cancelledPrice :
  "¥24,000", price : "¥18,000", width:"294", height:"188" }, ]; %>
  <div class="sidebar-tour__cards">
    <%- include(base.path + "./_tour-cards", {tourCardDataAll :tourCardDataAll,
    page: false, sideBar:true}) %>
    <div class="sidebar-tour__button">
      <a href="/blog" class="button"
        ><span class="button__text">View more</span>
      </a>
    </div>
  </div>
</div>
