<div class="sidebar-voice">
  <%- include(base.path + "./_sidebar-title",
  {title:"口コミ"}) %> <% const voiceCardData = { link :
  "/voice#woman20", person:"20代(女性)", label:"ライセンス講習",
  title : "ここにタイトルが入ります。ここにタイトル", imgPathPc
  : "./assets/images/top/top-voice-sp1.jpg", imgPathSp :
  "./assets/images/top/top-voice-pc1.jpg",
  alt:"20代(女性)の画像",
  text:"ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。<br />ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。<br />ここにテキストが入ります。ここにテキストが入ります。"
  }; %> <%- include(base.path + "./_voice-card-sidebar",
  {voiceCardData: voiceCardData}) %>
</div>
