<% if (typeof title === 'undefined') { title = ""; } %>

<div class="sidebar-title">
  <figure class="sidebar-title__icon">
    <img
      src="./assets/images/common/title-whale.svg"
      alt="クジラアイコン"
      width="50"
      height="50"
    />
  </figure>
  <p class="sidebar-title__text">
  <%- title %>
</p>
</div>
