<div class="sidebar-archive">
  <%- include("./_sidebar-title", {title:"アーカイブ"}) %>
  <div class="sidebar-archive__lists">
    <div class="sidebar-archive__toggle-hierarchy">
      <div class="sidebar-archive__toggle-hierarchy-inner">
        <div class="sidebar-archive__year">
          <div class="js-yearLabel sidebar-archive__year-label">2024年</div>
          <div class="sidebar-archive__year-body">
            <div class="sidebar-archive__month">
              <div class="js-monthLabel sidebar-archive__month-label">3月</div>
            </div>
            <div class="sidebar-archive__month">
              <div class="js-monthLabel sidebar-archive__month-label">4月</div>
            </div>
          </div>
        </div>
        <div class="sidebar-archive__year">
          <div class="js-yearLabel sidebar-archive__year-label">2023年</div>
          <div class="sidebar-archive__year-body">
            <div class="sidebar-archive__month">
              <div class="js-monthLabel sidebar-archive__month-label">2月</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
