@use "global" as *;
@import "./module/mixins";

.l-about-us {
  @include l-subpage;
}

.l-gallery {
  margin-top: rem(40);
  @include mq("md") {
    margin-top: rem(120);
  }
}

.l-gallery__item-container {
  margin-top: rem(40);
  @include mq("md") {
    margin-top: rem(80);
  }
}

.about-us__inner {
  position: relative;
  z-index: 2;
}

.about-us__inner::before {
  @include subpage-decoration;
}
