@use "global" as *;
@import "./module/mixins";

.l-blog {
  @include l-subpage;
}

.blog__inner {
  position: relative;
}

.blog__inner::before {
  @include subpage-decoration;
}

.blog__body {
  position: relative;
  z-index: 1;
  @include mq("md") {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: rem(80);
  }
}

.blog__pager {
  margin-top: rem(80);
}
