@use "global" as *;
@import './module/mixins';

.l-blog {
  @include l-subpage;
}

.blog {
}

.blog__inner {
}

.blog__body {
  @include mq('md') {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap:rem(80);
  }
}

.blog__cards-wrapper {
  width: 100%;
  @include mq('md') {
    width: rem(706);
  }
}

.blog__sidebar {
  @include mq('md') {
    width: rem(294);
  }
}

.blog__pager{
  margin-top: rem(80);
}

.l-articleCards{
  margin-top: rem(24);
}

.l-blog__sidebar-popular-articles {
  margin-top: rem(80);
  @include mq('md') {
    margin-top: 0;
  }
}

.l-blog__sidebar-voice {
  margin-top: rem(80);
}

.l-blog__sidebar-campaign {
  margin-top: rem(80);
}

.l-sidebar-archive {
  margin-top: rem(80);
}

.l-voice-card-sidebar{
  margin-top: rem(24);
}
