@use "global" as *;
@import "./module/mixins";

.blog__detail-contents {
  max-width: rem(570);
  margin-inline: auto;
  @include mq("md") {
    max-width: none;
  }
}

.blog__detail-date {
  font-family: $price-font;
  font-size: rem(14);
  font-weight: $regular;
}

.blog__detail-title {
  font-family: $sans;
  font-size: rem(24);
  font-weight: $normal;
  @include mq("md") {
    font-size: rem(32);
  }
}

.blog__detail-pager {
  margin-top: rem(80);
}

.blog__detail-image {
  aspect-ratio: 345 / 231;
  @include mq("md") {
    aspect-ratio: 700 / 468;
  }
}

.blog__detail-image:not(:first-child) {
  margin-top: rem(24);
  @include mq("md") {
    margin-top: rem(40);
  }
}

.blog__detail-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.blog__detail-the-contents p {
  margin-top: rem(24);
  font-family: $sans;
  font-size: rem(16);
  font-weight: $regular;
  line-height: calc(24 / 16);
  @include mq("md") {
    margin-top: rem(40);
  }
}

.blog__detail-the-contents figure {
  aspect-ratio: 345 / 231;
  margin-top: rem(24);
  @include mq("md") {
    margin-top: rem(40);
    aspect-ratio: 700 / 468;
  }
}

.blog__detail-the-contents img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.blog__detail-the-contents ul,
.blog__detail-the-contents ol {
  margin-top: rem(24);
  margin-left: rem(24);
}

.blog__detail-the-contents li {
  position: relative;
  margin-top: rem(4);
  font-weight: $regular;
}

.blog__detail-the-contents li::before {
  content: "";
  position: absolute;
  top: rem(6);
  left: -24px;
  width: rem(18);
  height: rem(18);
  background-image: url("../images/common/starfish.svg");
  background-size: cover;
  background-position: center;
}
