@use "global" as *;
@import './module/mixins';

.l-blog-detail {
  @include l-subpage;
}

.blog-detail__date {
  font-family: $price-font;
  font-size: rem(14);
  font-weight: $regular;
}

.blog-detail__title {
  font-family: $sans;
  font-size: rem(24);
  @include mq('md') {
    font-size: rem(32);
  }
}

.blog-detail__inner {
}

.blog-detail__body {
  @include mq("md") {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: rem(80);
  }
}

.blog-detail__contents {
}

.blog-detail__pager {
}
