@use 'global' as *;

.l-campaign {
  margin-top: rem(50);
  @include mq('md') {
    margin-top: rem(150);
  }
}

.l-campaign__cards-wrapper{
  margin-top: rem(40);
}

.campaign__pager{
  margin-top: rem(80);
}
