@use 'global' as *;
@import './module/mixins';

.l-contact{
  @include l-subpage;
}

.contact__inner{
  position: relative;
  z-index: 2;
}

.contact__inner::before {
  @include subpage-decoration;
  z-index: 2;
}
