@use 'global' as *;

.error-404 {
  font-family:$price-font;
  background-color: $green-accent;
  color: $white;
  text-align: center;
  @include mq('md') {
    padding-top: rem(90);
  }
}

.error-404__inner {
  background-image: url("../images/bg-404.svg");
  background-size: rem(698);
  background-repeat: no-repeat;
  background-position: top left;

}

.error-404__main-text {
  letter-spacing: 0.5em;
  @include mq('md') {
    font-size: rem(160);
  }
}

.error-404__sub-text {

}

.error-404__button {

}

.button {

}

