@use "global" as *;

.body-404 {
  background-color: $grey-accent;
}

.error-404 {
  border-top: $grey-accent solid 1px;
  font-family: $price-font;
  background-color: $grey-accent;
  color: $white;
  padding-top: rem(80);
  padding-bottom: rem(40);
  background-image: url("../images/common/bg-404.svg");
  background-size: rem(328);
  background-repeat: no-repeat;
  background-position: center center;
  @include mq("md") {
    padding-top: rem(90);
    padding-bottom: rem(150);
    background-position: top rem(140) left;
    background-size: rem(698);
  }
}

.error-404__inner {
  text-align: center;
  margin-top: rem(48);
  @include mq("md") {
    margin-top: rem(120);
  }
}

.error-404__main-text {
  font-family: $price-font;
  letter-spacing: 0.5em;
  text-indent: 0.5em;
  font-size: rem(80);
  text-align: center;
  line-height: 1.1;
  @include mq("md") {
    font-size: rem(160);
  }
}

.error-404__sub-text {
  @include mq("md") {
    margin-top: rem(40);
  }
}

.error-404__button {
  margin-top: rem(40);
  font-size: rem(16);
  line-height: calc(24 / 16);
  @include mq("md") {
    margin-top: rem(80);
  }
}
