@use "global" as *;
@import "./module/mixins";

.l-faq {
  @include l-subpage;
}

.faq__inner {
  position: relative;
  z-index: 2;
}

.faq__inner::before {
  @include subpage-decoration;
}

.faq__contents {
  max-width: rem(570);
  margin-inline: auto;
  @include mq("md") {
    max-width: none;
    width: 64.8%;
    margin-inline: auto;
  }
}
