@use 'global' as *;
@import './module/mixins';

.l-faq{
  @include l-subpage;
}


.faq {

}

.faq__inner{
  position: relative;
}

.faq__inner::before {
  @include subpage-decoration;
}


.faq__contents {

  @include mq('md') {
    width: 64.8%;
    margin-inline:auto;
  }
}

