@use "global" as *;
@import "./module/mixins";

.l-information {
  margin-top: rem(120);
  @include mq("md") {
    margin-top: rem(150);
  }
}

.information__inner {
  position: relative;
}

.information__inner::before {
  @include subpage-decoration;
}

.information__tab-contents{
  position: relative;
  z-index: 2;
}