@use "global" as *;

.privacy-policy {
  font-size: rem(16);
  color: $green;
  margin-top: rem(40);
  margin-inline: auto;
  @include mq('md') {
    width: 55.56%;
  }
}

.privacy-policy__title {
  font-family: $sans;
  font-size: rem(24);
  font-weight: $normal;
  @include mq("md") {
    font-size: rem(32);
  }
}

.privacy-policy__group {
  margin-top: rem(48);
}
.privacy-privacy-policy__text {
}

.privacy-policy__list {
  list-style-type: decimal;
  padding-left: rem(20);
}

.privacy-policy__list-item {
  line-height: rem(32);
}
