@use "global" as *;
@import "./module/mixins";

.l-voice {
  @include l-subpage;
}

.voice__cards {
  margin-top: rem(40);
}

.voice__inner {
  position: relative;
  z-index: 2;
}

.voice__inner::before {
  @include subpage-decoration;
}

.voice__pager {
  margin-top: rem(72);
}
