@forward "function";
@forward "setting";
@forward "breakpoints";

body {
  position: relative;
  z-index: 0;
  background-size: 100%;
}

body::after {
  content: "";
  position: absolute;
  inset: 0; /* top:0; right:0; bottom:0; left:0 の略 */
  // background-size: cover;
  opacity: 0.5; /* 背景画像の透明度 */
  z-index: -1;
  background-image: url(../images/common/bg-sand.webp);
  background-repeat: no-repeat;
  background-position: bottom right;
}
