@use "sass:math";

// インナー幅設定
// コンテンツのインナー幅（最も共通の幅が多い部分）
$inner: 1080px;
// ※キュンパス幅ではなくインナーの幅を指す

// 余白
$padding-pc: 20px;
$padding-sp: 15px;

html {
  scroll-padding-top: 90px;
}

////////////////////
// フォント設定
////////////////////

$base-font-family: "Noto Sans JP", sans-serif;
// $second-font-family: "Noto Serif JP", serif;
$magic: "Yusei Magic", sans-serif;
$stick: "Stick", sans-serif;
$english-font: "Stick", sans-serif;
$price-font: "Stick", sans-serif;
// ※検証ツールでしっかり反映されているか確認する OK

body {
  font-family: $magic;
}

// フォントウェイト
$regular: 300;
$normal: 400;
$bold: 700;

////////////////////
// 色の指定
////////////////////

//色指定（共通性のあるものは出来る限り指定すると良い）
$black: #111;
$font-black: #666666;
$white: #fff;
$grey: #f2f2f2;
$brown: #796a64;
//$green: #0d2936;
$green: #666666;
$hibiscus: #fb0767;
//$green-accent: #408f95;
//$green-accent: #3daab4;
$green-accent: #a38f34;
//$sand-accent: #958640;
//$green-light: #ddf0f1;
$green-light: #f9f9f1;
$error: #c94800;
