@use "sass:math";

// インナー幅設定
// コンテンツのインナー幅（最も共通の幅が多い部分）
$inner: 1080px;
// ※キュンパス幅ではなくインナーの幅を指す

// 余白
$padding-pc: 20px;
$padding-sp: 15px;

////////////////////
// フォント設定
////////////////////

$base-font-family: "Noto Sans JP", sans-serif;
// $second-font-family: "Noto Serif JP", serif;
$sans:"Noto Sans JP", sans-serif;
$serif:"Noto Serif JP", sans-serif;
$english-font: "Gotu", sans-serif;
$price-font: "Lato", sans-serif;

// ※検証ツールでしっかり反映されているか確認する OK

body {
  font-family: $base-font-family;
}

// フォントウェイト
$regular: 300;
$normal: 400;
$bold: 700;

////////////////////
// 色の指定
////////////////////

//色指定（共通性のあるものは出来る限り指定すると良い）
$black: #111;
$white: #fff;
$grey: #f2f2f2;
$brown:#796A64;
$green: #0D2936;
$green-accent:#408F95;
$green-light:#DDF0F1;
$error:#C94800;

