<% base = { path: "./", title: "トップ", css: "top", description:
"架空のコーポレートデモサイトのトップページです。"} %>
<!DOCTYPE html>
<html lang="ja">
  <%- include(base.path + "./common/_head", { base: base}) %>
  <body>
    <%- include(base.path + "./common/_header", { base: base}) %>
    <main>
      <section class="404">
        <div class="404__inner">
          <div class="404__main-text">404</div>
          <div class="404__sub-text">
            申し訳ありません。<br />
            お探しのページが見つかりません。
          </div>
          <div class="404__button">
            <a href="/about-us" class="button"
            ><span class="button__text">Page Top</span></a
          >
          </div>
        </div>
      </section>
    </main>
    <div class="l-footer--404">
      <%- include(base.path + "./common/_footer") %>
    </div>
  </body>
</html>
