<% base = { path: "./", title: "トップ", css: "top", description:
"架空のコーポレートデモサイトのトップページです。"} %>
<!DOCTYPE html>
<html lang="ja">
  <%- include(base.path + "./common/_head", { base: base}) %>
  <body>
    <%- include(base.path + "./common/_header", { base: base}) %>
    <main>
      <% $breadcrumbsData
      =[{title:"TOP",url:"/"},{title:"404",url:"/404.html"}];
      %> <%- include(base.path + "./common/_breadcrumbs", { breadcrumbsData:
      $breadcrumbsData}) %>
      <section class="error-404">
          <div class="error-404__inner inner">
            <div class="error-404__main-text">404</div>
            <div class="error-404__sub-text">
              申し訳ありません。<br />
              お探しのページが見つかりません。
            </div>
            <div class="error-404__button">
              <a href="/about-us" class="button button--reverse"
                ><span class="button__text">Page Top</span></a
              >
            </div>
          </div>
      </section>
    </main>
    <div class="l-footer--error-404">
      <%- include(base.path + "./common/_footer") %>
    </div>
  </body>
</html>
