@use 'global' as *;

.swiper--kv {
  width: 100%;
  position: relative;
  height: inherit;
}

.swiper-wrapper--kv{
  height: inherit;
}

.swiper-slide--kv{
  height: inherit;
}

.swiper-slide--kv img{
  height: 100%;
  object-fit: cover;
}
