@use 'global' as *;

.swiper-campaign {
  width: 100%;
  height:inherit;
  position: relative;
  z-index: 1;
}

.swiper-wrapper--campaign{
  height: inherit;
}

.swiper-slide--campaign{
  height: inherit;
}

.swiper-campaign-button-prev,
.swiper-campaign-button-next{
  z-index: 2;
  @include mq('md') {
    position: absolute;
    top:0;
    right:0;
    width: rem(80);
    height: rem(80);
  }
}

.swiper-campaign .swiper-campaign-button-prev{
  @include mq('md') {
    top:-74px;
    right:160px;
  }
  @include mq("md") {
    top:-104px;
    right:160px;
  }
}

.swiper-campaign .swiper-campaign-button-next{
  @include mq('md') {
    top:-74px;
    right:rem(15);
  }
  @include mq("md") {
    top:-104px;
    right:rem(20);
  }
}
