@use 'global' as *;

.top-about {
  margin-top: rem(80);
  @include mq("md") {
    margin-top: rem(140);
  }
}

.top-about__inner {
  background-image: url(../images/top/bg-aboutus-sp.png);
  background-repeat: no-repeat;
  background-position-y: rem(86);
  background-size: calc(100% - 30px);
  background-position: center center;
  position: relative;
  z-index: 1;
  max-width: rem(600);
  margin-inline: auto;
  @include mq("md") {
    background-position-x: center;
    background-position-y: rem(106);
    height: rem(767);
  }
}

.top-about__inner::after {
  @include mq("md") {
    position: absolute;
    content: "";
    // NOTE:
    // 50% = 769px / 2(半分) 〜 1080px / 2(半分) = 540px
    // rem(637) = 1080(inner 幅) / 2(半分) + 97px(珊瑚画像はみ出し分)
    // TODO: 48vw の意味を確認
    // 48vw = 画面幅の約 1/2 ????

    right:calc(50% - min(48vw, rem(637)));
    bottom: -88px;
    width: rem(194);
    height: rem(181);
    background-image: url(../images/top/coral.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 2;
  }
}

.top-about__contents {
  @include mq("md") {
    height: inherit;
    margin-inline: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: rem(224);
    padding-right: rem(38);

  }
}

.top-about__catch-copy {
  margin-top: calc(100vw * 0.6145 + 48px);
  font-family: $english-font;
  font-weight: $regular;
  font-size: rem(40);
  color: $green-accent;
  line-height: 1;
  @include mq("md") {
    font-size: rem(80);
    color: $white;
    margin-top: 0;
    padding-top: rem(16);
    line-height: 1.25;
  }
}

.top-about__body {
  margin-top: rem(16);
  font-size: rem(16);
  font-weight: $regular;
  line-height: calc(24 / 16);

  @include mq("md") {
    color: $white;
    width: rem(400);
    margin-left: rem(40);
  }
}

.top-about__button {
  margin-top: rem(50);
  text-align: center;
  @include mq('md') {
    margin-top: rem(40);
  }
}
