@use 'global' as *;

.top-campaign {
  margin-top: rem(40);
  @include mq("md") {
    margin-top: rem(120);
    // swipper 対応用
    overflow: hidden;
  }
}

.top-campaign__inner{
  // swipper 対応用
  overflow: hidden;
  @include mq('md') {
    // swipper スクロールボタン見切れ対応用
    overflow: visible;
  }
}

.top-campaign__swiper {
  margin-top: rem(28);
  @include mq("md") {
    margin-top: rem(40);
  }
}

.top-campaign__card {
  height: 100%;
}

.top-campaign__button {
  text-align: center;
  margin-top: rem(40);
  @include mq("md") {
    margin-top: rem(80);
  }
}
