@use 'global' as *;

.top-voice {
  margin-top: rem(80);
  @include mq("md") {
    margin-top: rem(140);
  }
}

.top-voice__inner {
  position: relative;
}

.top-voice__inner::before {
  @include mq("md") {
    position: absolute;
    content: "";
    top: -118px;
    // inner パディング分
    left: 20px;
    width: rem(301);
    height: rem(138);
    background-image: url(../images/top/bg-fish-r.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 2;
  }
  @include mq("inner") {
    left: -58px;
  }
}

.top-voice__inner::after {
  @include mq("md") {
    position: absolute;
    content: "";
    // inner パディング分
    right: 20px;
    bottom: -76px;
    width: rem(194);
    height: rem(181);
    background-image: url(../images/top/seahorse.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    z-index: 2;
  }
  @media screen and (min-width: 1440px){
    right: -43px;
  }
}

.top-voice__cards {
  margin-top: rem(44);
  @include mq("md") {
    margin-top: rem(30);
  }
}

.top-voice__item:not(:first-child) {
  margin-top: rem(40);
  @include mq("md") {
    margin-top: 0;
  }
}

.top-voice__button {
  text-align: center;
  margin-top: rem(40);
  @include mq("md") {
    margin-top: rem(80);
  }
}
