<section class="top-voice">
  <div class="top-voice__inner inner">
    <div class="top-voice__title">
      <div class="section-title">
        <p class="section-title__word">Voice</p>
        <h2 class="section-title__japan">お客様の声</h2>
      </div>
    </div>
    <div class="top-voice__cards voice-cards">
      <div class="top-voice__item voice-card">
        <a href="/voice#woman20">
          <div class="voice-card__head">
            <div class="voice-card__info">
              <div class="voice-card__meta">
                <div class="voice-card__person">
                  20代(女性)
                </div>
                <div class="voice-card__label">
                  <span class="label">ライセンス講習</span>
                </div>
              </div>
              <div class="voice-card__title">
                <div class="lined-title">
                  ここにタイトルが入ります。ここにタイトル
                </div>
              </div>
            </div>
            <div class="js-colorAnimation voice-card__image">
              <picture>
                <source
                  srcset="./assets/images/top/top-voice-sp1.jpg"
                  media="(max-width: 767px)"
                />
                <img
                  src="./assets/images/top/top-voice-sp1.jpg"
                  alt="20代(女性)の画像"
                  width="180"
                  height="140"
                />
              </picture>
            </div>
          </div>
          <div class="voice-card__text">
            ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。<br />
            ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。
            ここにテキストが入ります。ここにテキストが入ります。<br />
            ここにテキストが入ります。ここにテキストが入ります。
          </div>
        </a>
      </div>
      <div class="top-voice__item voice-card">
        <a href="/voice#man30">
          <div class="voice-card__head">
            <div class="voice-card__info">
              <div class="voice-card__meta">
                <div class="voice-card__person">
                  30代(男性)
                </div>
                <div class="voice-card__label">
                  <span class="label">ファンダイビング</span>
                </div>
              </div>
              <div class="voice-card__title">
                <div class="lined-title">
                  ここにタイトルが入ります。ここにタイトル
                </div>
              </div>
            </div>
            <div class="js-colorAnimation voice-card__image">
              <picture>
                <source
                  srcset="./assets/images/top/top-voice-sp2.jpg"
                  media="(max-width: 767px)"
                />
                <img
                  src="./assets/images/top/top-voice-sp2.jpg"
                  alt="30代(男性)の画像"
                  width="180"
                  height="140"
                />
              </picture>
            </div>
          </div>
          <div class="voice-card__text">
            ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。<br />
            ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。
            ここにテキストが入ります。ここにテキストが入ります。<br />
            ここにテキストが入ります。ここにテキストが入ります。
          </div>
        </a>
      </div>
      <div class="top-voice__item voice-card">
        <a href="/voice#man30">
          <div class="voice-card__head">
            <div class="voice-card__info">
              <div class="voice-card__meta">
                <div class="voice-card__person">
                  30代(男性)
                </div>
                <div class="voice-card__label">
                  <span class="label">ファンダイビング</span>
                </div>
              </div>
              <div class="voice-card__title">
                <div class="lined-title">
                  ここにタイトルが入ります。ここにタイトル
                </div>
              </div>
            </div>
            <div class="js-colorAnimation voice-card__image">
              <picture>
                <source
                  srcset="./assets/images/top/test.jpg"
                  media="(max-width: 767px)"
                />
                <img
                  src="./assets/images/top/test.jpg"
                  alt="30代(男性)の画像"
                  width="180"
                  height="140"
                />
              </picture>
            </div>
          </div>
          <div class="voice-card__text">
            ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。<br />
            ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。
            ここにテキストが入ります。ここにテキストが入ります。<br />
            ここにテキストが入ります。ここにテキストが入ります。
          </div>
        </a>
      </div>
    </div>
    <div class="top-voice__button">
      <a href="/voice" class="button"
        ><span class="button__text">View more</span></a
      >
    </div>
  </div>
</section>
