<section class="l-top-tour">
  <div class="top-tour">
    <div class="top-tour__inner inner">
      <div class="top-tour__title">
        <div class="section-title">
          <p class="section-title__word">tour</p>
          <h2 class="section-title__japan">キャンペーン</h2>
        </div>
      </div>
      <div class="top-tour__swiper">
        <%- include("../common/_swiper-tour", { base: base}) %>
      </div>
      <div class="top-tour__button">
        <a href="/tour" class="button"
          ><span class="button__text">View more</span></a
        >
      </div>
    </div>
  </div>
</section>
