@use "global" as *;

.blog__sidebar {
}

.sidebar-popular-articles {
}

.sidebar-voice {
  margin-top: rem(24);
}

.sidebar-campaign {
  margin-top: rem(24);
}

.sidebar-archive {
  margin-top: rem(24);
}
