@use "global" as *;

.blog-cards {
  width: 96.5%;
  margin-inline: auto;
  max-width: rem(570);
  display: grid;
  gap: rem(40);
  @include mq("md") {
    max-width: none;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
  }
}

.blog-cards--2col {
  @include mq("md") {
    grid-template-columns: repeat(2, 1fr);
    row-gap: rem(80);
    column-gap: rem(40);
  }
}

.blog-cards__item{
  align-self: stretch;
}