@use "global" as *;

.blog__sidebar {
  width: 84%;
  margin-inline: auto;
  @include mq('md') {
    width: rem(294);
  }
}


.sidebar-popular-articles {
}

.sidebar-voice {
}

.sidebar-campaign {
  margin-top: rem(24);
}

.sidebar-archive {
  margin-top: rem(24);
}

.l-campaign-cards{
  margin-top: rem(40);
  @include mq('md') {
    margin-top: rem(24);
  }
}
