@use "global" as *;

.blog-detail__contents {
}

.blog-detail__image {
  aspect-ratio: 345 / 231;
  @include mq("md") {
    aspect-ratio: 700 / 468;
  }
}

.blog-detail__image:not(:first-child){
  margin-top: rem(24);
  @include mq('md') {
    margin-top: rem(40);
  }
}

.blog-detail__image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.blog-detail__text {
  margin-top: rem(24);
  font-family: $sans;
  font-size: rem(16);
  font-weight: $regular;
  line-height: calc(24 / 16);
  @include mq("md") {
    margin-top: rem(40);
  }
}

.blog-detail__lists {
  margin-top: rem(24);
  margin-left: rem(24);
}

.blog-detail__list-item {
  position: relative;
  margin-top: rem(4);
}

.blog-detail__list-item::before {
  content: "";
  position: absolute;
  top: rem(6);
  left: - 24px;
  width: rem(18);
  height: rem(18);
  background-image: url("../images/common/starfish-green.png");
  background-size: cover;
  background-position: center;
  @include mq("md") {
    //top: rem(4);
  }
}