@use "global" as *;

.breadcrumbs {
  margin-top: rem(8);
  font-size: rem(14);
  font-weight: $regular;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: rem(20);
}

.breadcrumbs__item {
  position: relative;
  display: inline-block;
  margin-right: rem(16);
}

.breadcrumbs__item-current {
  display: inline-block;
}

.breadcrumbs__item::after {
  content: "";
  width: rem(4);
  height: rem(8);
  display: block;
  background-image: url("../images/common/arrow-right.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: rem(6);
  right: - rem(12);
}

.breadcrumbs__item--white::after {
  background-image: url("../images/common/arrow-right-white.svg");
}
