@use 'global' as *;

%button-scroll-common {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: $white;
  border: solid 1px $green-accent;
  position: relative;
  cursor: pointer;
  @include mq("md") {
    width: 80px;
    height: 80px;
  }
}

%button-scroll-common::before {
  position: absolute;
  content: "";
  display: block;
  width: 10px;
  height: 1px;
  top: 50%;
  background-color: $green-accent;
}

%button-scroll-common::after {
  position: absolute;
  content: "";
  display: block;
  width: 28px;
  height: 1px;
  top: 50%;
  left: calc((100% - 28px) / 2);
  background-color: $green-accent;
  @include mq("md") {
    width: rem(40);
    left: calc((100% - 40px) / 2);
  }
}

.button-scroll {
  @extend %button-scroll-common;
  transform: rotate(90deg);
}

.button-scroll::before {
  top: calc(50% - 3px);
  left: calc((100% - 28px) / 2);
  transform: rotate(-30deg);
  @include mq("md") {
    left: calc((100% - 40px) / 2);
  }
}

.button-scroll--left {
  @extend %button-scroll-common;
}

.button-scroll--left::before {
  top: calc(50% - 3px);
  right: calc((100% - 28px) / 2);
  transform: rotate(30deg);
  @include mq("md") {
    right: calc((100% - 40px) / 2);
  }
}

// TODO: 見直す
.swiper-campaign-button-next .button-scroll--left::after {
  @include mq("md") {
    left: calc((100% - 40px) / 2);
  }
}

.button-scroll--right {
  @extend %button-scroll-common;
}

.button-scroll--right::before {
  top: calc(50% - 3px);
  left: calc((100% - 28px) / 2);
  transform: rotate(-30deg);
  @include mq("md") {
    left: calc((100% - 40px) / 2);
  }
}
