@use "global" as *;

$large-button-size: 80px;
$small-button-size: 48px;

%button-scroll-common {
  width: $small-button-size;
  height: $small-button-size;
  border-radius: 50%;
  background: $white;
  border: solid 1px $green-accent;
  position: relative;
  cursor: pointer;
  @include mq("md") {
    width: $large-button-size;
    height: $large-button-size;
  }
}

%button-scroll-common::before {
  position: absolute;
  content: "";
  display: block;
  width: 10px;
  height: 1px;
  top: 50%;
  background-color: $green-accent;
}

%button-scroll-common::after {
  position: absolute;
  content: "";
  display: block;
  width: 28px;
  height: 1px;
  top: 50%;
  background-color: $green-accent;
  @include mq("md") {
    width: rem(40);
  }
}

.button-scroll {
  @extend %button-scroll-common;
  transform: rotate(90deg);
}

.button-scroll::before {
  top: calc(($small-button-size / 2) - 3px);
  left: calc(($small-button-size - 28px) / 2);
  transform: rotate(-30deg);
  @include mq("md") {
    top: calc(($large-button-size / 2) - 3px);
    left: calc(($large-button-size - 40px) / 2);
  }
}

.button-scroll::after {
  left: calc(($small-button-size - 28px) / 2);
  @include mq("md") {
    left: calc(($large-button-size - 40px) / 2);
  }
}

.button-scroll--left {
  @extend %button-scroll-common;
}

.button-scroll--left::before {
  top: calc(($small-button-size / 2) - 3px);
  left: calc(($small-button-size - 28px) / 2);
  transform: rotate(-30deg);
  @include mq("md") {
    top: calc(($large-button-size / 2) - 3px);
    left: calc(($large-button-size - 40px) / 2);
  }
}

.button-scroll--left::after {
  left: calc(($small-button-size - 28px) / 2);
  @include mq("md") {
    left: calc(($large-button-size - 40px) / 2);
  }
}

.button-scroll--right {
  @extend %button-scroll-common;
}

.button-scroll--right::before {
  top: calc(($small-button-size / 2) - 3px);
  right: calc(($small-button-size - 28px) / 2);
  transform: rotate(30deg);
  @include mq("md") {
    top: calc(($large-button-size / 2) - 3px);
    right: calc(($large-button-size - 40px) / 2);
  }
}

.button-scroll--right::after {
  right: calc(($small-button-size - 28px) / 2);
  @include mq("md") {
    right: calc(($large-button-size - 40px) / 2);
  }
}
