@use 'global' as *;

.campaign-card {
  width: rem(280);
  //width: 74.6666%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  @include mq('md') {
    width: rem(333);
  }
}

.campaign-card__inner {
}

.campaign-card__image {
  aspect-ratio: 280 / 188;
  @include mq('md') {
    aspect-ratio: 334 / 223;
  }
}

.campaign-card__image img{
  width: 100%;
  // height: rem(223); // TODO: この方法で良いか確認
  height: 100%;
  object-fit: cover;
}

.campaign-card__body {
  padding: rem(16) rem(16) rem(24) rem(16);
  @include mq('md') {
    padding: rem(24) rem(16) rem(40) rem(16);
  }
}

.campaign-card__label {
  //margin-top: rem(24);
}

.campaign-card__title {
  margin-top: rem(8);
  font-family: $sans;
  padding-bottom: rem(4);
  font-size: rem(16);
  line-height: calc(24 / 16);
  border-bottom: 1px solid $green-accent;
}

.campaign-card__explain {
  margin-top: rem(8);
  font-family: $sans;
  font-size: rem(14);
  line-height: calc(24 / 14);
  text-align: center;
}

.campaign-card__price-container {
  margin-top: rem(8);
  text-align: center;
}
