@use 'global' as *;

.company-info {
  font-family: "Noto Sans JP";
  @include mq('md') {
    font-size: rem(16);
    line-height: calc(24 / 16);
    text-shadow: none;
  }
}

%info-font {
  margin-top: rem(4);
  @include mq('md') {
    text-align: left;
  }
}

.company-info__address {
  @extend %info-font;
}

.company-info__tel {
  @extend %info-font;
}

.company-info__hours {
  @extend %info-font;
}

.company-info__holidays {
  @extend %info-font;
}
