@use 'global' as *;

.company-info {
  font-family: $sans;
  @include mq('md') {
    font-size: rem(16);
    font-weight: $regular;
    line-height: calc(24 / 16);
    text-shadow: none;
  }

}

.company-info__address {
  margin-top: rem(4);
}

.company-info__tel {
  margin-top: rem(4);
}

.company-info__hours {
  margin-top: rem(4);
}

.company-info__holidays {
  margin-top: rem(4);
}
