@use 'global' as *;

.gallery__item{
  cursor: pointer;
}

.gallery__item0{
  @include mq('md') {
    grid-column:1 / span 7 ;
    grid-row: 1 / span 2;
    }
}

.gallery__item1{
  @include mq('md') {
    grid-column:8 / span 13 ;
    grid-row: 1;
    }
}

.gallery__item2{
  @include mq('md') {
    grid-column:8 / span 13 ;
    grid-row: 2;
    }
}

.gallery__item3{
  @include mq('md') {
    grid-column:1 / span 9 ;
    grid-row: 3;
    }
}

.gallery__item4{
  @include mq('md') {
    grid-column:1 / span 9 ;
    grid-row: 4;
    }
}

.gallery__item5{
  @include mq('md') {
    grid-column:10 / span 13;
    grid-row: 3 / span 4;
    }
}
