@use "global" as *;

.gallery {
  position: relative;
}

.gallery::after {
  @include mq("md") {
    position: absolute;
    content: "";
    // NOTE:
    // 50% = 769px / 2(半分) 〜 1080px / 2(半分) = 540px
    // rem(637) = 1080(inner 幅) / 2(半分) + 97px(珊瑚画像はみ出し分)
    // 48vw = 画面幅の約 1/2

    right: calc(50% - min(48vw, rem(637)));
    top: -58px;
    width: rem(300);
    height: rem(138);
    background-image: url(../images/top/bg-fish.svg);
    background-size: cover;
  }
}

.gallery__item-container {
  display: flex;
  flex-direction: column;
  gap: rem(8);
  max-width: rem(570);
  margin-inline: auto;
  @include mq("md") {
    max-width: none;
    display: grid;
    grid-auto-flow: row dense;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(2, rem(370));
  }
}

.gallery__item {
  cursor: pointer;
  @include mq("md") {
    aspect-ratio: auto;
  }
}

.gallery__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__item:nth-child(6n + 1) {
  aspect-ratio: 524 / 345;
  @include mq("md") {
    aspect-ratio: initial;
    grid-column: 1 / span 4;
    grid-row: span 2;
  }
}

.gallery__item:nth-child(6n + 2) {
  aspect-ratio: 345 / 219;
  @include mq("md") {
    aspect-ratio: initial;
    grid-column: 5 / span 5;
  }
}

.gallery__item:nth-child(6n + 3) {
  aspect-ratio: 345 / 219;
  @include mq("md") {
    aspect-ratio: initial;
    grid-column: 5 / span 5;
  }
}

.gallery__item:nth-child(6n + 4) {
  aspect-ratio: 345 / 219;
  @include mq("md") {
    aspect-ratio: initial;
    grid-column: 1 / span 5;
  }
}

.gallery__item:nth-child(6n + 5) {
  aspect-ratio: 345 / 219;
  @include mq("md") {
    aspect-ratio: initial;
    grid-column: 1 / span 5;
  }
}

.gallery__item:nth-child(6n + 6) {
  aspect-ratio: 524 / 345;
  @include mq("md") {
    aspect-ratio: initial;
    grid-column: 6 / span 4;
    grid-row: span 2;
  }
}
