@use 'global' as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(13, 41, 54, 0.68);
  height: rem(80);
  z-index: 2;
  @include mq("md") {
    height: rem(90);
  }
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
  position: relative;
  z-index: 2;
  padding: 0 rem(15);
  @include mq("md") {
    padding: 0 rem(40);
  }
}

.header__inner.is-open {
  background-color: $green-accent;
}

.header__logo {
  width: rem(106);
  z-index: 2;
  @include mq("md") {
    width: rem(138);
  }
}

.header__logo img {
  width: 100%;
  height: auto;
}

.header__navigation-sp {
  opacity: 0;
  visibility: hidden;
  transition: 1s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $green-accent;
  z-index: 1;
  overflow: scroll;
  @include mq('md') {
    display: none;
  }
}

.header__navigation-sp.is-open {
  opacity: 1;
  visibility: visible;
  transition: 1s;
}

.header__navigation-sp__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: rem(80);
  padding: rem(80) rem(15) rem(15) rem(15);
  @include mq("md") {
    display: none;
  }
}

.header__navigation-pc {
  display: none;
  @include mq("md") {
    height: inherit;
    display: block;
  }
}
