@use 'global' as *;

.label{
  color:$green-accent;
  font-size: rem(12);
  line-height: 1;
  padding: rem(5.5) rem(11);
  border: solid 1px $green-accent;
  @include mq('md') {
    padding: rem(5.5) rem(14);
  }
}