@use "global" as *;

.lined-title {
  font-family: $sans;
  font-size: rem(16);
  line-height: calc(24 / 16);
  font-weight: 500;
  padding-bottom: rem(4);
  border-bottom: solid 1px $green-accent;
  @include mq("md") {
    font-size: rem(24);
  }
}

.lined-title--medium {
  font-size: rem(20);
  font-weight: $bold;
  padding-bottom: rem(2);
  @include mq("md") {
    font-size: rem(24);
  }
}

.lined-title--no-change {
  font-family: $sans;
  font-size: rem(16);
  line-height: calc(24 / 16);
  font-weight: 500;
  padding-bottom: rem(4);
  border-bottom: solid 1px $green-accent;
}
