@use "global" as *;

@mixin l-subpage {
  margin-top: rem(50);
  @include mq("md") {
    margin-top: rem(250);
  }
}

@mixin subpage-decoration {
  position: absolute;
  z-index: 0;
  content: "";
  opacity: 0.5;
  // prettier-ignore
  top: - rem(70);
  // NOTE:
  // 50% = 769px / 2(半分) = 364.5px 〜 1080px / 2(半分) = 540px
  // rem(620) = 1080(inner 幅) / 2(半分) + 80px(魚たちの画像はみ出し分)
  // 48vw = 画面幅の約 1/2
  left: calc(50% - min(48vw, rem(716)));
  width: rem(120);
  height: rem(55);
  background-image: url(../images/top/cow.webp);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  @include mq("md") {
    // prettier-ignore
    top: - rem(155);
    width: rem(300);
    height: rem(138);
  }
}

@mixin button-hover-action($hover-color, $font-color: #ffffff) {
  transition: background-color 0.3s ease;
  &:hover {
    background-color: $hover-color;
    color: $font-color;
  }
}
