@use 'global' as *;

.navigation-responsive {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: rem(452);
  @include mq("md") {
    height: rem(202);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

  }
  @media screen and (min-width: 1310px) {
    /* float + margin 利用 */
    display: block;
  }
}

.navigation-responsive::after {
  @include mq("md") {
  }
  @media screen and (min-width: 1310px) {
    /* float + margin 利用 */
    content: "";
    display: block;
    clear: both;
  }
}

.navigation-responsive__column {
  @media screen and (min-width: 1310px) {
    /* float + margin 利用 */
    float: left;
  }
}

.navigation-responsive__column:nth-of-type(2) {
  margin-top: rem(40);
  @include mq("md") {
    margin-top: 0;
  }
}

.navigation-responsive__column:nth-of-type(4) {
  margin-top: rem(40);
  @include mq("md") {
    margin-top: 0;
  }
}

.navigation-responsive__item-group {
  margin-top: rem(40);
}

.navigation-responsive__column:not(:first-child) {
  @include mq("md") {

  }
  @media screen and (min-width: 1300px) {
    /* float + margin 利用 */
    margin-left: 11.111%;
  }
}

.navigation-responsive__item-group:nth-of-type(1) {
  margin-top: 0;
}

.navigation-responsive__item-group:nth-of-type(7) {
  @include mq("md") {
    margin-top: 0;
  }
}

.navigation-responsive__item {
  font-family: $sans;
  color: $white;
  font-size: rem(16);
  font-weight: $regular;
  margin-top: rem(24);
  margin-left: rem(22);
  line-height: 1.125;
}

.navigation-responsive__item:hover {
  opacity: 0.6;
  transition : 0.2s;
}

.navigation-responsive__item--top {
  font-weight: $bold;
  position: relative;
  margin-top: 0;
}

.navigation-responsive__item--top::before {
  content: "";
  position: absolute;
  top: 0;
  left: - 24px;
  width: rem(18);
  height: rem(18);
  background-image: url("../images/common/starfish.png");
  background-size: cover;
  background-position: center;
  @include mq("md") {
    top: rem(1);
  }
}
