@use "global" as *;

.navigation-pc {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: inherit;
  gap: rem(40);
}

.navigation-pc__item {
  height: inherit;
}

.navigation-pc__item a {
  height: inherit;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.navigation-pc__link-inner {
  position: relative;
}

.navigation-pc__link-inner::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #ffffff;
  transition: all 0.3s;
  transform: scale(0, 1);
  transform-origin: center top;
}

.navigation-pc__item a:hover .navigation-pc__link-inner::after,
.navigation-pc__item.current .navigation-pc__link-inner::after {
  transform: scale(1, 1);
}

.navigation-pc__japanese {
  font-family: $magic;
  font-size: rem(18);
  line-height: 1;
  color: $font-black;
  text-align: center;
  text-shadow: 0 0 2px rgba(255, 255, 255, 1);
}

.navigation-pc__english {
  font-family: $english-font;
  font-size: rem(10);
  font-weight: $regular;
  color: $font-black;
  text-align: center;
  position: relative;
  @include mq("md") {
    margin-top: rem(4);
    width: 100%;
  }
}
