@use "global" as *;

.navigation-responsive {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: rem(40);
  @include mq("md") {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: rem(120);
  }
}

.navigation-responsive--sitemap {
  position: relative;
  z-index: 2;
}

.navigation-responsive__item-group {
  margin-top: rem(40);
}

.navigation-responsive__item-group:nth-of-type(1) {
  margin-top: 0;
}

.navigation-responsive__item-group:nth-of-type(7) {
  @include mq("md") {
    margin-top: 0;
  }
}

.navigation-responsive__item {
  font-family: $magic;
  color: $font-black;
  font-size: rem(16);
  font-weight: $regular;
  margin-top: rem(24);
  margin-left: rem(22);
  line-height: 1.125;
}

.navigation-responsive--sitemap .navigation-responsive__item {
  color: $grey;
}

.navigation-responsive__item:hover {
  opacity: 0.6;
  transition: 0.2s;
}

.navigation-responsive__item.current:hover {
  opacity: 1;
  transition: 0.2s;
}

.navigation-responsive__item--top {
  font-weight: $bold;
  position: relative;
  margin-top: 0;
}

.navigation-responsive__item--top-sitemap {
  font-weight: $bold;
  position: relative;
  margin-top: 0;
}

.navigation-responsive__item--top::before {
  content: "";
  position: absolute;
  top: 0;
  left: -24px;
  width: rem(18);
  height: rem(18);
  background-image: url("../images/common/starfish-w.svg");
  background-size: cover;
  background-position: center;
  @include mq("md") {
    top: rem(1);
  }
}

.navigation-responsive__item--top-sitemap::before {
  content: "";
  position: absolute;
  top: 0;
  left: -24px;
  width: rem(18);
  height: rem(18);
  background-image: url("../images/common/starfish.svg");
  background-size: cover;
  background-position: center;
  @include mq("md") {
    top: rem(1);
  }
}
