@use "global" as *;
@import "./module/mixins";

.wp-pagenavi {
  display: flex;
  justify-content: center;
  gap: rem(12);
}

%pager-default-style {
  display: block;
  padding: rem(6) rem(13);
  border: solid 1px $grey-accent;
  color: $grey-accent;
  background-color: $white;
  font-family: $price-font;
  font-weight: $bold;
  text-align: center;
  cursor: pointer;
  @include button-hover-action(#56afb5);
}

.pager .page {
  @extend %pager-default-style;
}

span.current {
  @extend %pager-default-style;
  background-color: $grey-accent;
  color: $white;
  @include button-hover-action(#56afb5);
}

.pager__previous {
  @extend %pager-default-style;
  width: rem(38);
  height: rem(38);
  cursor: pointer;
  background: url(../images/common/pager-arrow-left-green.svg) center center
    no-repeat;
  &:hover {
    @include button-hover-action(#56afb5);
    background: url(../images/common/pager-arrow-left-white.svg) center center
      no-repeat;
  }
}

.pager__previous.current {
  background-color: $grey-accent;
  color: $white;
  @include button-hover-action(#56afb5);
}

.pager__next {
  @extend %pager-default-style;
  width: rem(38);
  height: rem(38);
  cursor: pointer;
  background: url(../images/common/pager-arrow-right-green.svg) center center
    no-repeat;
  &:hover {
    @include button-hover-action(#56afb5);
    background: url(../images/common/pager-arrow-right-white.svg) center center
      no-repeat;
  }
}

.pager__next.current {
  background-color: $grey-accent;
  color: $white;
}
