@use "global" as *;

.pager {
  display: flex;
  justify-content: center;
  gap: rem(12);
}

%pager-default-style {
  padding: rem(6) rem(13);
  border: solid 1px $green-accent;
  color: $green-accent;
  font-family: $price-font;
  font-weight: $bold;
  text-align: center;
  cursor: pointer;
  &:hover{
    background-color: rgb(64, 143, 149,0.1);
  }
}

.pager__previous {
  @extend %pager-default-style;
  display: flex;
  align-items: center;
  margin-right: rem(24);
}

.pager__item {
  @extend %pager-default-style;
}

.pager__item.current {
  background-color: $green-accent;
  color: $white;
}

.pager__next {
  @extend %pager-default-style;
  display: flex;
  align-items: center;
  margin-left: rem(24);
}
