@use "global" as *;
@import "./module/mixins";

.pager-detail {
  display: flex;
  justify-content: center;
  gap: rem(80);
}

%pager-detail-default-style {
  padding: rem(9) rem(13);
  border: solid 1px $green-accent;
  color: $green-accent;
  background-color: $white;
  font-family: $price-font;
  font-weight: $bold;
  text-align: center;
  @include button-hover-action(#DDF0F1);
}

.pager-detail__previous {
  @extend %pager-detail-default-style;
  display: flex;
  align-items: center;
  cursor: pointer;
  
}

.pager-detail__previous.current {
  background-color: $green-accent;
  color: $white;
  @include button-hover-action(#56afb5);
}

.pager-detail__next {
  @extend %pager-detail-default-style;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.pager-detail__next.current {
  background-color: $green-accent;
  color: $white;
}
