@use "global" as *;

.qa-box {
  margin-top: rem(44);
  @include mq("md") {
    margin-top: rem(40);
  }
}

.qa-box__question {
  background-color: $green-accent;
  color: $white;
  font-family: $sans;
  font-weight: $regular;
  font-size: rem(16);
  padding: rem(16) rem(56) rem(16) rem(16);
  position: relative;
  cursor: pointer;
  @include mq("md") {
    font-size: rem(20);
    padding: rem(25) rem(80) rem(25) rem(25);
  }
}

.qa-box__answer {
  padding: rem(24) rem(16);
  border: solid 1px $green-accent;
  display: none;
  line-height: 1.4;
  font-weight: $regular;
  @include mq("md") {
    margin-top: rem(16);
    padding: rem(40);
    line-height: 1.4;
  }
}
