@use "global" as *;

.section-title {
  text-align: center;
  font-family: $english-font;
}

.section-title__word {
  margin-top: rem(4);
  font-size: rem(16);
  line-height: calc(18 / 12);
  color: $green-accent;
  font-family: $magic;
  font-weight: $regular;
  @include mq("md") {
    margin-top: rem(8);
  }
}

.section-title__japan::first-letter {
  color: $green-accent;
}

.section-title__japan {
  font-size: rem(32);
  line-height: calc(40 / 32);
  color: $green;
  font-weight: $regular;
  @include mq("md") {
    font-size: rem(40);
    line-height: 1;
  }
}

.section-title__explain {
  text-align: center;
  margin-top: rem(8);
  font-family: $magic;
  font-size: rem(14);
  font-weight: $regular;
  color: $green-accent;
  line-height: calc(18 / 14);
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  @include mq("md") {
    text-shadow: none;
  }
}

.section-title--blog .section-title__word {
  color: $green;
  @include mq("md") {
    color: $white;
  }
}

.section-title--blog .section-title__word::first-letter {
  color: $green-accent;
  @include mq("md") {
    color: $green-light;
  }
}

.section-title--blog .section-title__japan {
  color: $green-accent;
  @include mq("md") {
    color: $white;
  }
}

.section-title--contact {
  line-height: 1;
}

.section-title--contact .section-title__word {
  margin-top: -rem(4);
  line-height: 1;
  @include mq("md") {
    margin-top: 0;
  }
}

.section-title--contact .section-title__japan {
  font-size: rem(40);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: inline-block;
  line-height: rem(40);
  @include mq("md") {
    font-size: rem(40);
    text-shadow: none;
  }
}
