@use "global" as *;

.sidebar-archive {
  margin-top: rem(24);
}

.sidebar-archive__toggle-hierarchy {
  color: $green-accent;
  font-family: $sans;
  font-size: rem(24);
  font-weight: $regular;
}

.sidebar-archive__toggle-hierarchy-inner {
  @include mq("md") {
    margin-top: rem(24);
  }
}

.sidebar-archive__lists {
  margin-top: rem(24);
}

.sidebar-archive__year {
  margin-left: rem(28);
}

.sidebar-archive__year-label {
  position: relative;
  cursor: pointer;
}

.sidebar-archive__year-body {
  display: none;
}

%triangle{
  position: absolute;
  top: 6px;
  left: -28px;
  content: "";
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-left: 18px solid $green-accent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid transparent;
  transition: transform 0.3s ease;
  transform: rotate(0deg);
}

.sidebar-archive__year-label::before {
  @extend %triangle;
}

.sidebar-archive__year-label.open::before {
  top: 12px;
  left: -36px;
  transform: rotate(90deg);
}

.sidebar-archive__month {
  margin-left: rem(28);
}

.sidebar-archive__month-label {
  position: relative;
}

.sidebar-archive__month-label::before{
  @extend %triangle;
}