@use "global" as *;

.static-page {
  font-size: rem(16);
  color: $green;
  margin-top: rem(40);
  margin-inline: auto;
  @include mq("md") {
    width: 55.56%;
  }
}

.static-page__inner {
  position: relative;
  width: 100%;
  padding-right: $padding-sp;
  padding-left: $padding-sp;
  margin-right: auto;
  margin-left: auto;
  @include mq("md") {
    padding-right: 0;
    padding-left: 0;
  }
}

.static-page__inner::before {
  position: absolute;
  content: "";
  top: -25px;
  // NOTE:
  // 50% = 769px / 2(半分) = 364.5px 〜 1080px / 2(半分) = 540px
  // rem(620) = 1080(inner 幅) / 2(半分) + 80px(魚たちの画像はみ出し分)
  // 48vw = 画面幅の約 1/2
  left: calc(50% - min(48vw, rem(600)));
  width: rem(120);
  height: rem(55);
  background-image: url(../images/top/bg-fish-r.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 2;
  @include mq("md") {
    top: -70px;
    width: rem(300);
    height: rem(138);
  }
}

.static-page__title {
  font-family: $sans;
  font-size: rem(24);
  font-weight: $normal;
  @include mq("md") {
    font-size: rem(32);
  }
}

.static-page__group {
  margin-top: rem(48);
}
.privacy-static-page__text {
}

.static-page__list {
  list-style-type: decimal;
  padding-left: rem(20);
}

.static-page__list-item {
  line-height: rem(32);
}
