@use "global" as *;
@import "./module/mixins";

.static-page {
  font-size: rem(16);
  color: $green;
  margin-top: rem(40);
}

.static-page__inner {
  position: relative;
  z-index: 2;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  @include mq("md") {
    width: rem(840);
  }
}

.static-page__inner::before {
  @include subpage-decoration;
}

.static-page__title {
  font-family: $magic;
  font-size: rem(24);
  font-weight: $normal;
  @include mq("md") {
    font-size: rem(32);
  }
}

.static-page__text {
  margin-top: rem(8);
  line-height: 1.8;
}

.static-page__group {
  margin-top: rem(40);
  @include mq("md") {
    margin-top: rem(36);
  }
}

.static-page__list {
  list-style-type: decimal;
  padding-left: rem(20);
  margin-top: rem(4);
}

.static-page__list-item {
  line-height: 2;
}
