@use "global" as *;

.sub-key-visual {
  position: relative;
  aspect-ratio: 375 / 460;
  background-repeat: no-repeat;
  background-size: cover;
  @include mq("md") {
    aspect-ratio: 1440 / 548;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.page-title {
  font-family: $price-font;
  font-weight: $normal;
  font-size: rem(40);
  color: $white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  @include mq("md") {
    transform: translate(-50%, -10%);
    font-size: rem(80);
  }
}

.campaign-background {
  background-image: url("../images/subKeyVisual/campaign-sp.jpg");
  @include mq("md") {
    background-image: url("../images/subKeyVisual/campaign-pc.jpg");
  }
}

.privacy-policy-background, .sitemap-background, .terms-of-service-background {
  background-image: url("../images/subKeyVisual/privacy-policy-sp.jpg");
  @include mq("md") {
    background-image: url("../images/subKeyVisual/privacy-policy-pc.jpg");
  }
}

.contact-background {
  background-image: url("../images/subKeyVisual/contact-sp.jpg");
  @include mq("md") {
    background-image: url("../images/subKeyVisual/contact-pc.jpg");
  }
}

.faq-background {
  background-image: url("../images/subKeyVisual/faq-sp.jpg");
  @include mq("md") {
    background-image: url("../images/subKeyVisual/faq-pc.jpg");
  }
}

.price-background {
  background-image: url("../images/subKeyVisual/price-sp.jpg");
  @include mq("md") {
    background-image: url("../images/subKeyVisual/price-pc.jpg");
  }
}

.voice-background {
  background-image: url("../images/subKeyVisual/voice-sp.jpg");
  @include mq("md") {
    background-image: url("../images/subKeyVisual/voice-pc.jpg");
  }
}

.blog-background {
  background-image: url("../images/subKeyVisual/blog-sp.jpg");
  @include mq("md") {
    background-image: url("../images/subKeyVisual/blog-pc.jpg");
  }
}
