@use "global" as *;

.swiper-tour {
  width: 100%;
  height: inherit;
  position: relative;
  z-index: 1;
}

.swiper-tour__wrapper {
  height: inherit;
}

.swiper-tour__swiper-slide {
  height: inherit;
}

.swiper-tour__button-prev,
.swiper-tour__button-next {
  z-index: 2;
  @include mq("md") {
    position: absolute;
    top: 0;
    right: 0;
    width: rem(80);
    height: rem(80);
  }
}

.swiper-tour .swiper-tour__button-prev {
  @include mq("md") {
    top: -74px;
    right: 160px;
  }
  @include mq("md") {
    top: -104px;
    right: 160px;
  }
}

.swiper-tour .swiper-tour__button-next {
  @include mq("md") {
    top: -74px;
    right: rem(15);
  }
  @include mq("md") {
    top: -104px;
    right: rem(20);
  }
}
