@use "global" as *;
@import "./module/mixins";

.tab-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: rem(20);
  column-gap: rem(16);
  position: relative;
  grid-auto-flow: row dense;
  z-index: 2;
 @include mq("md") {
    display: flex;
    column-gap: rem(32);
    flex-wrap: wrap;
  }
}

.tab-card__item {
  color: $green-accent;
  border: solid 1px $green-accent;
  text-align: center;
  padding: rem(4) 0;
  font-size: rem(14);
  line-height: calc(22 / 14);
  cursor: pointer;
  background-color: $white;
  @include button-hover-action(#DDF0F1);
  @include mq("md") {
    width: rem(162);
  }
}

.tab-card__item.current {
  color: $white;
  background-color: $green-accent;
}
