@use 'global' as *;

.top-contact {
  margin-top: rem(80);
  margin-bottom: rem(140);
  @include mq('md') {
    margin-top: rem(140);
    margin-bottom: rem(160);
  }
}

.top-contact__inner {
  position: relative;
  @include mq("md") {
    display: flex;
    justify-content:flex-start;
    padding: rem(80) 0 rem(80) rem(50);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    max-width: rem(1080);
  }
}

.top-contact__inner::after {
  content: "";
  position: absolute;
  right: rem(15);
  top: - rem(26);
  background-image: url("../images/top/bg-fish.png");
  background-size: cover;
  width: rem(109);
  height: rem(50);
  @include mq('md') {
    right: 0;
    top: - rem(40);
    width: rem(301);
    height: rem(138);
  }
  @media screen and (min-width: 1440px){
      right: - rem(125);
  }
}

.top-contact__info{
  width: 85.55%;
  margin-inline:auto;
  @include mq('md') {
    width: auto;
    margin: 0;
  }
}

.top-contact__contact {
  margin-top: rem(40);
  @include mq("md") {
    border-left: solid 1px $green-accent;
    padding-left: rem(80);
    margin-top: 0;
    margin-left: rem(80);
  }
}

.top-contact__title{
  margin-top: rem(20);
}

.top-contact-logo__container {
  display: flex;
  justify-content: center;
  border-bottom: solid 1px $green-accent;
  padding-bottom: rem(5.5);
  position: relative;
  @include mq("md") {
    padding-bottom: rem(6.5);
  }
}

.top-contact-logo__container::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 1px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.top-contact-logo {
  width: rem(174);
  height: auto;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
  @include mq('md') {
    width: rem(200);
  }
}

.top-contact__company-info-container {
  margin-top: rem(16);
  @include mq("md") {
    margin-top: rem(24);
    display: flex;
    justify-content: flex-start;
  }
}

.top-contact__company-info {
  text-align: center;
  margin-top: rem(16);
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  @include mq("md") {
    text-align-last: left;
    margin-top: 0;
    width: rem(148);
  }
}

.top-contact__map {
  margin-top: rem(16);
  position: relative;
  @include mq("md") {
    margin-top: 0;
    margin-left: rem(20);
    width: rem(273);
    height: rem(148);
  }
}

.top-contact__map::before {
  content: '';
  display: block;
  padding-top: 54.24%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.top-contact__map iframe{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.top-contact__button-container {
  margin-top: rem(40);
  text-align: center;
}
