@use 'global' as *;

.top-blog {
  margin-top: rem(80);
  @include mq("md") {
    margin-top: 0;
    padding-top: rem(100);
    background-image: url(../images/top/bg-blog.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size:contain;
  }
}

.top-blog__cards {
  margin-top: rem(28);
  @include mq("md") {
    margin-top: rem(80);
    display: flex;
    justify-content: flex-start;
    gap: rem(40);
  }
}

.top-blog__item:not(:first-child) {
  margin-top: rem(38);
  @include mq("md") {
    margin-top: 0;
  }
}

.top-blog__button {
  text-align: center;
  margin-top: rem(40);
  @include mq("md") {
    margin-top: rem(80);
  }
}
