@use 'global' as *;

.top-campaign {
  margin-top: rem(40);
  overflow: hidden;
  @include mq("md") {
    margin-top: rem(120);
    //margin-left: calc((100% - 1080px) / 2);
  }
}

.top-campaign__inner {
}

.top-campaign__swiper {
  margin-top: rem(28);
  @include mq("md") {
    margin-top: rem(40);
  }
}

.top-campaign__card {
}

.top-campaign__button {
  text-align: center;
  margin-top: rem(40);
  @include mq("md") {
    margin-top: rem(80);
  }
}
