@use "global" as *;

.top-voice__inner {
  position: relative;
}

.top-voice__inner::before {
  @include mq("md") {
    position: absolute;
    content: "";
    top: -118px;
    // NOTE:
    // 50% = 769px / 2(半分) = 364.5px 〜 1080px / 2(半分) = 540px
    // rem(620) = 1080(inner 幅) / 2(半分) + 80px(魚たちの画像はみ出し分)
    // 48vw = 画面幅の約 1/2
    left: calc(50% - min(48vw, rem(620)));
    width: rem(301);
    height: rem(138);
    background-image: url(../images/top/bg-fish-r.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 2;
  }
}

.top-voice__inner::after {
  @include mq("md") {
    position: absolute;
    content: "";
    // NOTE:
    // 50% = 769px / 2(半分) = 364.5px 〜 1080px / 2(半分) = 540px
    // rem(580) = 1080(inner 幅) / 2(半分)
    // 48vw = 画面幅の約 1/2
    right: calc(50% - min(48vw, rem(580)));
    bottom: -76px;
    width: rem(194);
    height: rem(181);
    background-image: url(../images/top/seahorse.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    z-index: 2;
  }
}

.top-voice__cards {
  margin-top: rem(44);
  @include mq("md") {
    margin-top: rem(30);
  }
}

.top-voice__button {
  text-align: center;
  margin-top: rem(40);
  @include mq("md") {
    margin-top: rem(80);
  }
}
