@use 'global' as *;

.top-price {
  margin-top: rem(80);
  background-color: $green-light;
  @include mq('md') {
    margin-top: rem(140);
    // background-image: url(../images/top/bg-fish.svg);
    // background-repeat: no-repeat;
    // background-position: left 6.94% bottom 60px;
    // background-size: rem(437);
  }
}

.top-price__inner {
  padding-top: rem(80);
  padding-bottom: rem(80);
  position: relative;
  @include mq('md') {
    padding-top: rem(97);
  }
}

.top-price__inner::after{
  @include mq('md') {
    content: "";
    position: absolute;
    z-index: 2;
    bottom: rem(40);
    left: 0;
    width: rem(437);
    height: rem(201);
    background-image: url(../images/top/bg-fish.svg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size:cover;
  }
  @include mq('inner') {
    bottom: rem(40);
    left: - rem(60);
  }
}


.top-price__contents{
  @include mq('md') {
    margin-top: rem(40);
    display: flex;
    flex-direction: row-reverse;
    align-items:flex-start;
  }
}

.price-list__group:not(:first-child){
  margin-top: rem(40);
}

.top-price__list {
  margin-top: rem(40);
  @include mq('md') {
    margin-top: 0;
    width: rem(492);
  }
}

.top-price__image {
  margin-top: rem(28);
  @include mq('md') {
    margin-top: 0;
    margin-left: rem(93);
    width: rem(492);
  }
}

.top-price__button {
  margin-top: rem(40);
  text-align: center;
  @include mq('md') {
    margin-top: rem(80);
  }
}
