@use 'global' as *;

.top-information {
  padding-top: rem(80);
  padding-bottom: rem(80);
  background-color: $green-light;
  @include mq('md') {
    padding-top: rem(100);
  }
}

.top-information__inner {
  max-width: rem(600);
  margin-inline: auto;
  @include mq('md') {
  }
}

.top-information__contents {
  margin-top: rem(24);
  @include mq('md') {
    margin-top: rem(40);
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

.top-information__image {
  aspect-ratio: 540 / 356;
  @include mq('md') {
    width: rem(540);
  }
}

.top-information__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.top-information__info {
  @include mq('md') {
    width: rem(492);
    margin-left: rem(48);
  }
}

.top-information__info-title {
  margin-top: rem(24);
  @include mq('md') {
    margin-top: 0;
  }
}

.top-information__text {
  margin-top: rem(8);
  line-height: calc(24 / 16);
}

.top-information__button {
  margin-top: rem(40);
  text-align: center;
}
