@use 'global' as *;

.top-blog {
  position: relative;
  @include mq("md") {
    padding-top: rem(100);
  }
}

.top-blog::before {
  z-index: 0;
  @include mq("md") {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: rem(500);
    background-image: url(../images/top/bg-blog.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size:cover;
  }
}

.top-blog__inner{
  // NOTE: section-title の z-index 対応
  position: relative;
}

.top-blog__cards {
  margin-top: rem(28);
  position: relative;
  max-width: rem(570);
  margin-inline: auto;
  @include mq("md") {
    max-width: none;
    margin-top: rem(80);
  }
}

.top-blog__cards::after{
  @include mq('md') {
    content: "";
    position: absolute;
    z-index: 2;
    top: - rem(221);
    left:calc(50% - min(48vw, rem(620)));
    width: rem(437);
    height: rem(201);
    background-image: url(../images/top/bg-blog-fish.svg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size:cover;
  }
}

.top-blog__item:not(:first-child) {
  margin-top: rem(38);
  @include mq("md") {
    margin-top: 0;
  }
}

.top-blog__button {
  text-align: center;
  margin-top: rem(40);
  @include mq("md") {
    margin-top: rem(80);
  }
}
