@use "global" as *;

.tour-card {
  height: 100%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
}

.tour-card--page:not(:first-child) {
  margin-top: rem(40);
  @include mq("md") {
    margin-top: 0;
  }
}

.tour-card:hover {
  opacity: 0.6;
  transition: 0.3s;
}

.tour-card__image {
  aspect-ratio: 280 / 188;
  overflow: hidden;
  @include mq("md") {
    aspect-ratio: 334 / 223;
  }
}

.tour-card__image--sidebar {
  aspect-ratio: 294 / 188;
  @include mq("md") {
    aspect-ratio: 294 / 188;
  }
}

.tour-card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tour-card__body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  padding: rem(16) rem(16) rem(24) rem(16);
  color: $font-black;
  @include mq("md") {
    padding: rem(24) rem(16) rem(40) rem(16);
  }
}

.tour-card__body--page {
  @include mq("md") {
    padding: rem(24) rem(23) rem(24) rem(23);
  }
}

.tour-card__body--side-bar {
  padding: rem(16) rem(16) rem(24) rem(16);
  @include mq("md") {
    padding: rem(16) rem(16) rem(24) rem(16);
  }
}

.tour-card__title {
  margin-top: rem(8);
  font-family: $magic;
  padding-bottom: rem(4);
  font-size: rem(16);
  line-height: calc(24 / 16);
  border-bottom: 1px solid $green-accent;
  @include mq("md") {
    margin-top: rem(6);
  }
}

.tour-card__title--page {
  @include mq("md") {
    font-size: rem(24);
  }
}

.tour-card__title--sidebar {
  font-size: rem(16);
  line-height: calc(24 / 16);
  text-align: center;
  font-weight: $bold;
  margin-top: 0;
  @include mq("md") {
    font-size: rem(16);
  }
}

.tour-card__explain {
  margin-top: rem(8);
  font-family: $magic;
  font-size: rem(14);
  line-height: calc(24 / 14);
  text-align: center;
  @include mq("md") {
    margin-top: rem(16);
    font-size: rem(16);
  }
}

.tour-card__explain--sidebar {
  @include mq("md") {
    font-size: rem(14);
    margin-top: rem(8);
    line-height: calc(24 / 14);
    text-align: center;
  }
}

.tour-card__price-container {
  margin-top: rem(8);
  text-align: center;
}

.tour-card__text {
  font-size: rem(16);
  line-height: calc(24 / 16);
  margin-top: rem(20);
}

.tour-card__date-container {
  color: $green-accent;
  text-align: center;
  margin-top: rem(24);
  min-height: rem(56);
  @include mq("md") {
    margin-top: rem(32);
  }
}

.tour-card__date {
  font-family: $price-font;
  font-size: rem(16);
  line-height: calc(18 / 16);
  font-weight: $bold;
}

.tour-card__link {
  margin-top: rem(8);
  font-size: rem(14);
  font-weight: $regular;
}

.tour-card__button {
  margin-top: rem(16);
  text-align: center;
}

.tour-card__bottom2 {
  display: none;
  @include mq("md") {
    display: block;
  }
}

.tour-card__rank {
  position: absolute;
  top: rem(4);
  left: rem(4);
  font-size: rem(14);
  background-color: rgba(255 255 255 / 1);
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px $green-accent;
  border-radius: rem(4);
  @include mq("md") {
  }
}

.tour-card__area {
  @include mq("md") {
  }
}

.tour-card__tel {
  @include mq("md") {
  }
}
